<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntsua.thelife">

    <application
        android:allowBackup="true"
        android:icon="@drawable/boy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheLife">
        <activity android:name=".BoiToan"></activity>
        <activity android:name=".MakeUp" />
        <activity android:name=".Cooking" />
        <activity android:name=".Startup" />
        <activity android:name=".Hospital" />
        <activity android:name=".SongKhac" />
        <activity android:name=".Travel" />
        <activity android:name=".Entertainment" />
        <activity android:name=".Degree" />
        <activity android:name=".Love" />
        <activity android:name=".Playground" />
        <activity android:name=".HoatDong" />
        <activity android:name=".CrimeActivity" />
        <activity android:name=".Tuong_tacActivity" />
        <activity android:name=".SportActivity" />
        <activity android:name=".RelationShip" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>